<div class="jumbotron">
    <h1>Fantasista</h1>
    <p class="lead">Easily Find PlayStation Events Near You</p>
    <p><a href='https://play.google.com/store/apps/details?id=io.cherry.fantasista&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'><img alt='Get it on Google Play' style="height: auto; width: 250px;" src='https://play.google.com/intl/en_us/badges/images/generic/en_badge_web_generic.png' /></a></p>
</div>
<div class="row">
    <div class="col-md-12">
        <h3>
                Fantasista is your free directory of PlayStation events and competitions in Egypt.
                Easily find events and locate their hosts in addition to registering for events using this free App.
                We're currently operating in Egypt Only.
        </h3>
    </div>
   
</div>
